<!DOCTYPE html>
<html lang="en">
    <%- include('header') %>
    <body style="display: flex; align-items: center; padding-top: 40px; padding-bottom: 40px; margin: auto;">
        <main style="margin: auto;">
            <form action="/" method="get">
                <h1 class="mb-3 fw-bold"><%= result %></h1>
                <button class="w-100 btn btn-lg btn-outline-primary" type="submit" style="margin-top: 50px;">
                    Go to Home
                </button>
            </form>
        <main>
    </body>
</html>